[% Title = 'Annotation For' _ url %][% INCLUDE Header %]
[%# Copyright 2003-2004, Buzzmaven Co.

# This file is part of Annotateit.

# Annotateit is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.

# Annotateit is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with Annotateit (see GNU-GPL.txt); if not, write to the Free Software
# Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA.
# The GNU General Public License may also be found on the Web at:
#   http://www.gnu.org/licenses/gpl.txt 

%]
    <body onLoad="javascript:getOpenerSel();">
      <h1>New Annotation</h1>
      <p>Annotating [% url %]</p>
      <p class="error">[% error %]</p>
      <form name="theForm" action="[% scriptdir %]annotate.cgi" method="post" enctype="multipart/form-data">
	<input type="hidden" name="url" value="[% url %]" />
	<table>
	    <tr>
	      <td>Who can see the annotation?</td>
	      <td><select name="Security">[% FOREACH Groups.AllGroups %]
		  <option value="[% GroupID %]" [% IF StateGroupID == GroupID %]selected="selected"[% END %]>[% GroupName %]</option>
		[% END %]</select></td>
	    </tr>
	    <tr>
	      <td>Post Anonymously?</td>
	      <td><input type="checkbox" name="Anonymous" value="Yes" [% IF anonymous == "Yes" %]checked="checked"[% END %] /></td>
    </tr>
      <tr>
	<td>Text To Annotate</td>
	<td><input type="text" name="selectedtext" size="40" value="[% selectedtext %]"/></td>
      </tr>
      [% IF phraseTooNarrow %]
      <tr>
	<td colspan="2">The text around the phrase that makes the phrase unique in the document</td>
      </tr>
      <tr>
	<td colspan="2"><textarea name="context" cols="40" rows="5" wrap="virtual">[% context %]</textarea></td>
      </tr>
      [% END %]
      <tr>
	<td>Predefined Annotation</td>
	<td><select name="predefined" onChange="switchText();">
	    [% FOREACH textAry %]
	    <option value="[% Index %]">[% Label %]</option>
	  [% END %]
	</select>
	</td>
      </tr>
	<tr>
	  <td>Title</td>
	  <td><input type="text" name="title" value="[% title %]" /></td>
      </tr>
      <tr>
	<td colspan="2">Annotation</td>
      </tr>
      <tr>
	<td colspan="2"><textarea name="annotation" cols="40" rows="5" wrap="virtual">[% annotation %]</textarea></td>
      </tr>
      <tr>
	<td colspan="2" align="center"><input type="submit" name="submit" value="annotate" /></td>
      </tr>
    </table>
      
      <hr />
[% INCLUDE Footer %]
  </body>
</html>
