[% Title = 'Annotation Display' %][% INCLUDE Header %]
[%# Copyright 2003, Buzzmaven Co.

# This file is part of Annotateit.

# Annotateit is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.

# Annotateit is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with Annotateit (see GNU-GPL.txt); if not, write to the Free Software
# Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA.
# The GNU General Public License may also be found on the Web at:
#   http://www.gnu.org/licenses/gpl.txt 

%]
  <body>
    <h1>[% AnnotationTitle %]</h1>
    (URL: <a href="[% serverURL %][% scriptdir %]annotateit.cgi/[% AnnotationURL %]">[% AnnotationURL %]</a>)<br />
    Group: [% AnnotationGroupName %]<br />
    <p>On [% AnnotationTime %], [% IF AnnotationIsAnonymous %]Anonymous[% IF CanSeeAnonymousAuthors %] ([% AnnotationUserName %])[% END %][% ELSE %][% AnnotationUserName %][% END %] wrote:<br />
      [% AnnotationText %]</p>
      <p>This was written about the following text:<br />
      [% AnnotationPhrase %]</p>
    [% IF AnnotationCanEdit %]<p><a href="[% scriptdir %]editAnnotations.cgi?AnnotationID=[% AnnotationID %]">Edit</a> | <a href="[% scriptdir %]deleteAnnotations.cgi?AnnotationID=[% AnnotationID %]">Delete</a>[% END %]
      
    <hr />
    [% IF AnnotationComments %]
    <h2>Comments</h2>
    <table>
      [% FOREACH AnnotationComments %]
	<tr>
	  <td>[% CommentUserName %] writes:<br />
	    [% CommentText %]<br />
	    [% IF CommentCanEdit %]<a href="[% scriptdir %]comments.cgi?CommentID=[% CommentID %];action=edit1;ParentID=[% AnnotationID %]">Edit</a> [% END %][% IF CommentCanDelete %]<a href="[% scriptdir %]comments.cgi?CommentID=[% CommentID %];action=delete">Delete</a>[% END %]<br /><hr /></td>
	</tr>
	[% END %]
  </table>
    [% END %]
    <form action="[% scriptdir %]comments.cgi">
      <input type="hidden" name="action" value="add" />
      <input type="hidden" name="ParentID" value="[% AnnotationID %]" />
    <textarea name="CommentText" rows="5" cols="45" wrap="virtual">Add a comment</textarea><br />
    <input type="submit" name="submit" value="Save Comment" />
  </form><br />
[% IF has_clickthroughs %]
<hr />
<h2>Clickthroughs</h2>
<table>
[% FOREACH Clickthrough %]
<tr>
 <td>[% UserName %]</td>
 <td align="right">[% Clickthroughs %]</td>
</tr>
[% END %]
</table>
[% END %]
<hr />
[% INCLUDE Footer %]
  </body>
</html>
