[% Title = EnglishTitle %][% INCLUDE Header %]
[%# Copyright 2003, Buzzmaven Co.

# This file is part of Annotateit.

# Annotateit is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.

# Annotateit is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with Annotateit (see GNU-GPL.txt); if not, write to the Free Software
# Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA.
# The GNU General Public License may also be found on the Web at:
#   http://www.gnu.org/licenses/gpl.txt 

%]
  <body>
    <h1>[% EnglishError %]</h1>
    [% IF Error == "NoSuchGroupToJoin" %]
    <p>That group ([% GroupID %]) does not exist.</p>
    [% ELSIF Error == "NoGroupIDPassed" %]
    <p>You must specify a &quot;Group ID&quot; that you wish to join.</p>
    [% ELSIF Error == "NoPrivilegeToAddCommunityAnnotation" %]
    <p>Sorry, but you haven't been granted the privilege (so to speak) of adding community annotations to the system.</p>
    [% ELSIF Error == "NoPrivilegeToDeleteCommunityAnnotation" %]
    <p>Sorry, but you haven't been granted the privilege of deleting community annotations from the system.</p>
    [% ELSIF Error == "NoPrivilegeToEditCommunityAnnotation" %]
    <p>Sorry, but you haven't been granted teh privilege of editing community annotations in the system.</p>
    [% ELSIF Error == "NoPrivilegeToJoinGroup" %]
    <p>Sorry, but you don't have privileges to join that group ([% GroupID %]).  If you have paid for a license, have you <a href="[% serverurl %][% scriptdir %]register.cgi">activated</a> it using the code you received by email?</p>
    [% ELSIF Error == "GroupIsClosed" %]
    <p>Sorry, but that group ([% GroupID %]) can't be joined at this time.  Talk to the group owner about joining it.</p>
    [% ELSIF Error == "AlreadyMember" %]
    <p>You have already joined that group, so you can't join it again right now.</p>
    [% ELSIF Error == "NoPrivilegeToEditUser" %]
    <p>Sorry.  You aren't authorized to edit users.</p>
    [% ELSIF Error == "DatabaseError" %]
    <p>There has been an error with the database. [% IF Table %]Database table [% Table %] is having problems during repair.[% END %]
    [% ELSIF Error == "URLExcludedFromAnnotation" %]
    <p>The content owner of the website at that address <a href="[% excludedURL %]">[% excludedURL %]</a> has asked that it not be annotated.  We can only oblige.</p>
    	[% ELSIF Error == 'UnauthorizedSearch' %]
	<p>Sorry.  You aren't authorized to perform a search.</p>
	
	[% ELSIF Error == 'NotAuthorizedDisplayAnnotation' %]
    		[% IF Private %]<p>That annotation has been marked "Private," so you aren't allowed to [% EnglishAction %].</p>[% END %]
    		[% IF Group %]That is a group annotation.  You have to join the group to be able to [% EnglishAction %].[% END %]
	[% ELSIF Error == 'NotAuthorizedEditAnnotation' %]
		<p>You aren't authorized to edit that annotation.  Sorry!</p>
	
	[% ELSIF Error == 'NotAuthorizedCreateAssignment' %]
		<p>You are not allowed to create an assignment.</p>
	[% ELSIF Error == 'NotAuthorizedDisplayAssignment' %]
		<p>You are not authorized to view that assignment.</p>
	[% ELSIF Error == 'UploadError' %]
		<p>[% ErrorText %]</p>
	[% ELSIF Error == 'ScriptError' %]
	<p>You have found a defect in our system.  More than likely, this was caused by negligence on the part of one of our programmers.  Please accept our apologies for any inconvenience this causes you.</p>
	<p>An email has been dispatched to the <a href="http://www.buzzmaven.com/mailman/listinfo.cgi/annotateit-dev">AnnotateIt! Developers Email list</a> advising them that there is a defect.</p>
	<p>If you would like to submit a bug report (could take 5-15 minutes depending on whether you have a buzilla account with us), you may submit one at <a href="http://bugzilla.buzzmaven.com">http://bugzilla.buzzmaven.com/cgi-bin/index.cgi</a>.  If you do submit a bug report, please be sure to include this time: [% time %] so that a developer can locate the error in the error logs.  Additional information, such as what you wanted to do when the error happened will be useful.
        [% ELSIF Error == 'NoURLSpecified' %]
        <p>Please enter a page to annotate. </p>
        <form action="[% scriptdir %]annotateit.cgi">
        <input type="hidden" name="action" value="redirect" />
        <input type="text" name="url" size="60" value="http://" /> <input type="submit" name="submit" value="annotate" /></form>

	<p>Usually, you will have a web-page in mind that you want to annotate when you call this page.  Please enter that page in the box provided above and hit &quot;annotate&quot;.</p>
  If you have reached this page in error, please report the details to <a href="mailto:support@buzzmaven.com">support@buzzmaven.com</a> the page you were trying to annotate by copying the address from the location bar in your browser into the email message.</p>
        [% ELSIF Error == 'CannotAnnotate' %]
        <p>The resource you requested, located at <a href="[% Resource %]">[% Resource %]</a> cannot be annotated by this system.</p>

[% END %]
<!-- [% ENV %] -->
[% IF error %]
[% error %]
[% END %] 

    [% IF BackPage %]<p><a href="[% serverurl %][% scriptdir %][% BackPage %]">Back</a></p>[% END %]
    <p><a href="[% serverurl %][% scriptdir %]manageUserInfo.cgi">Main Menu</a></p>
    [% INCLUDE Footer %]
  </body>
</html>
