[% INCLUDE Header %]
[%# Copyright 2003-2004, Buzzmaven Co.

# This file is part of Annotateit.

# Annotateit is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.

# Annotateit is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with Annotateit (see GNU-GPL.txt); if not, write to the Free Software
# Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA.
# The GNU General Public License may also be found on the Web at:
#   http://www.gnu.org/licenses/gpl.txt 

%]
  <body>
    <h1>[% Title %]</h1>
[% IF Screen == 1 %]
     [% IF noEvalVectors %]
     <p>This document has no evaluation vectors assigned to it.</p>
        [% IF User.Privileges.Own.AddEvalVectors %]
           [% IF Document.AssignmentID %]
             <p>Would you like to <a href="[% scriptdir %]editAssignment.cgi?ID=[% Document.AssignmentID %]">add some</a>?</p>
           [% END %]
        [% END %]
     [% ELSE %]
	[% IF User.AdaptiveHelp.Evaluations %]
	[% INCLUDE AH_EvaluateDocument %]
	[% END %]

        <p>Evaluating <a href="[% Document.HTMLURL %]">[% Document.Title %]</a></p>
        <form action="[% scriptdir %]evaluateDocument.cgi">
        <input type="hidden" name="action" value="save" />
        <input type="hidden" name="DocumentID" value="[% Document.ID %]" />
        [% FOREACH EV = Document.EvalVectors %]
          [% onlyFormElements = "Yes" %]
          [% INCLUDE EvalVectorDetails %]<br />
        [% END %]
        <input type="submit" name="submit" value="Save Evaluation" />
        </form>
     [% END %]
[% ELSIF Screen == 2 %]
<table>
 <tr>
  <th>Quality</th><th>Score</th><th>Weighted Score</th>
 </tr>
 [% FOREACH Evaluations %]
   <tr>
     <td>[% Title %] [% IF Weight %]([% Weight %])[% END %]</td>
     <td align="right">[% EvaluationValue %]</td>
     <td align="right">[% IF Weight %][% Weight * EvaluationValue %][% END %]
	[% IF Title == 'Overall Score' %][% IF MaxPossible %] Out of [% MaxPossible %] ([% 100 * EvaluationValue / MaxPossible %]%)[% END %][% END %]</td>
   </tr> 
   [% Weight = 0 %]
  [% END %]
 
</table>

[% END %]
[% INCLUDE Footer %]
  </body>
</html>
