[% Title = 'Manage Community Annotations' %][% INCLUDE Header %]
[%# Copyright 2003, Buzzmaven Co.

# This file is part of Annotateit.

# Annotateit is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.

# Annotateit is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with Annotateit (see GNU-GPL.txt); if not, write to the Free Software
# Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA.
# The GNU General Public License may also be found on the Web at:
#   http://www.gnu.org/licenses/gpl.txt 

%]
  <body>
    <h1>Manage Community Annotations</h1>
    <p>You can go back to the <a href="[% scriptdir %]manageUserInfo.cgi">main menu</a>
    <form action="[% scriptdir %]transferCommunityAnnotations.cgi">
    <table>
	<tr>
          [%- IF User.Privileges.Other.DeleteCommunityAnnotation %]
	  <td>&nbsp;</td>
          [%- END %]
          <td>Category</td>
          <td>Add?</td>          
          <td>Title</td>
          <td>Description</td>
        </tr>
        [% FOREACH CommunityAnnotation %]
        <tr>
          [%- IF User.Privileges.Other.DeleteCommunityAnnotation %]
          <td><a href="[% scriptdir %]deleteCommunityAnnotation.cgi?ID=[% ID %]">Delete</a></td>
          [%- END %]
          <td>[% Category %]</td>
          <td><input type="checkbox" name="ID" value="[% ID %]" /></td>
          <td>[%- IF User.Privileges.Other.EditCommunityAnnotation -%]
      <a href="[% scriptdir %]editCommunityAnnotation.cgi?ID=[% ID %]">[% END %][% Title %][%- IF User.Privileges.Other.EditCommunityAnnotation -%]</a>[% END %]</td>
          <td>[% Description %]</td>
        </tr>
        [% END %]
     </table>
      <input type="submit" name="submit" value="Transfer Checked to My Custom Annotations" /></form>
    [% IF User.Privileges.Other.AddCommunityAnnotation %]
    <hr />
    <form action="[% scriptdir %]addCommunityAnnotation.cgi">
      <table>
	  <tr>
	    <td>Category</td>
	    <td><select name="Category">
		<option value="Grammar And Usage">Grammar and Usage</option>
		<option value="Style">Style</option>
		<option value="Arrangement">Arrangement</option>
		<option value="Rhetoric">Rhetoric</option>
		<option value="Logic">Logic</option>
		<option value="Other">Other</option>
	      </select>
	    </td>
	  </tr>
	  <tr>
	    <td>Title:</td>
	    <td><input type="text" name="Title" size="30" /></td>
	  </tr>
	  <tr>
	    <td colspan="2"><textarea name="Description" cols="40" rows="5" wrap="virtual">Description</textarea></td>
	  </tr>
	  <tr>
	    <td colspan="2" align="center"><input type="submit" name="submit" value="Add Community Annotation" /></td>
	  </tr>
      </table>
    </form>
    [% END %]
    <hr />
    [% INCLUDE Footer %]
  </body>
</html>
