[% Title = 'Manage Custom Annotations' %][% INCLUDE Header %]
[%# Copyright 2003-2004, Buzzmaven Co.

# This file is part of Annotateit.

# Annotateit is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.

# Annotateit is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with Annotateit (see GNU-GPL.txt); if not, write to the Free Software
# Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA.
# The GNU General Public License may also be found on the Web at:
#   http://www.gnu.org/licenses/gpl.txt 

%]
  <body>
    <h1>Manage Custom Annotations</h1>
<p>To <a href="[% scriptdir %][% ManageInfoLink %]">manage your info</a></p>
    [% IF customAnnotations %]
    <table>
	<tr>
	  <th>Annotation title</th>
	  <th>Annotation text</th>
	  <th>Edit/Delete</th>
	</tr>
    [% FOREACH customAnnotations %]
    <tr>
      <td>[% Label %]</td>
      <td>[% ShortValue %]</td>
      <td><a href="[% scriptdir %][% editURL %][% ID %]">Edit</a> | <a href="[% scriptdir %][% deleteURL %][% ID %]">Delete</a></td>
	</tr>
    [% END %]
    </table>
    [% ELSE %]
    <p>You don't have any predefined custom annotations yet.</p>
    [% END %]
    <hr />
    <p>Add a custom annotation:</p>
    <form action="[% scriptdir %]addAnnotation.cgi" method="post">
      <table>
	  <tr>
	    <td>Title</td>
	    <td><input type="text" name="label" /></td>
	  </tr>
	  <tr>
	    <td colspan="2"><textarea name="value" cols="40" rows="5" wrap="virtual">Annotation</textarea></td>	  
	  </tr>
	  <tr>
	    <td colspan="2" align="center"><input type="submit" name="submit" value="Save New Annotation"></td>
	  </tr>
      </table>
    </form>
    <hr />
[% INCLUDE Footer %]
  </body>
</html>
