[% Title = 'Register Today!' %][% INCLUDE Header %]
[%# Copyright 2003-2004, Buzzmaven Co.

# This file is part of Annotateit.

# Annotateit is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.

# Annotateit is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with Annotateit (see GNU-GPL.txt); if not, write to the Free Software
# Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA.
# The GNU General Public License may also be found on the Web at:
#   http://www.gnu.org/licenses/gpl.txt 

%]
  <body>
    [% IF Message %]
    <h1>[% Title %]</h1>
    <p>[% Message %]</p>
    [% ELSE %]
    <h1>Register Today!</h1>
    <p>You can register as a teacher or student to use this product in your classes.  If you go <a href="http://www.kagi.com">here</a>, you can purchase an activation code which will allow you to access pay-only features of the system.  After you have registered, come back and use this form to register.</p>
    [% END %]
    [% IF Form %]
    <form action="[% scriptdir %]register.cgi" method="post">
      <p>Activation Code: <input type="text" name="ActivationCode" size="20" /> <input type="submit" name="action" value="Register" /></p></form>
    [% END %]
    [% IF Success %]
    <p>From here, popular choices are:</p>
    <ul>
      <li><a href="[% scriptdir %]manageGroups.cgi">manage and join groups</a></li>
      <li><a href="[% scriptdir %]manageUserInfo.cgi">main menu</a></li>
      <li><a href="[% scriptdir %]annotateit.cgi">annotate a Web page</a></li>
    </ul>
    [% END %]
    <hr />
[% INCLUDE Footer %]
  </body>
</html>
