[% Title = 'Upload a Document' %][% INCLUDE Header %]
[%# Copyright 2003, Buzzmaven Co.

# This file is part of Annotateit.

# Annotateit is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.

# Annotateit is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with Annotateit (see GNU-GPL.txt); if not, write to the Free Software
# Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA.
# The GNU General Public License may also be found on the Web at:
#   http://www.gnu.org/licenses/gpl.txt 

%]
  <body>
    [% IF Result == "Successful Upload" %]
    <h1>Upload Successful</h1>
 (To <a href="[% scriptdir %]manageUserInfo.cgi">Main Menu</a>)<br />
 (To <a href="[% scriptdir %]manageDocuments.cgi">Manage Documents</a>)<br />
    <p>Please check that your document was uploaded correctly.  Then, print this page for future reference</p>
    <table>
	<tr>
	  <td>Webified Document:</td>
	  <td><a href="[% Document.HTMLURL %]" target="_blank">[% Document.HTMLURL %]</a> (HTML)</td>
	</tr>
	<tr>
	  <td>Textified Document:</td>
	  <td><a href="[% Document.TextURL %]" target="_blank">[% Document.TextURL %]</a> (Plain Text)</td>
	</tr>
	<tr>
	  <td>Native Document:</td>
	  <td><a href="[% Document.NativeURL %]" target="_blank">[% Document.NativeURL %]</a></td>
	</tr>
	<tr>
	  <td>Upload Date:</td>
	  <td>[% Document.UploadDate %]</td>
	</tr>
	<tr>
	  <td>System Signature</td>
	  <td>[% Document.SystemSignature %]</td>
	</tr>
	<tr>
	  <td>Document Signature</td>
	  <td>[% Document.DocumentSignature %]</td>
	</tr>
    </table>
    <a href="javascript:window.close()">Close this Window</a><br />
    <a href="[% scriptdir %]manageUserInfo.cgi">Main User Menu</a><br />
    [% ELSE %]
    <h1>Upload/Edit a Document</h1>
 (To <a href="[% scriptdir %]manageUserInfo.cgi">Main Menu</a>)<br />
 (To <a href="[% scriptdir %]manageDocuments.cgi">Manage Documents</a>)<br />

    [% IF isOwner || (Action == "Blank Form") %]
    <form method="post" action="[%scriptdir %][% formAction %]" enctype="multipart/form-data">
    [% UNLESS (Action == "Blank Form") %]<input type="hidden" name="DocumentID" value="[% Document.ID %]" />[% END %]
      <table>
          <tr>
          <td>Document Title (optional)</td>
          <td><input type="text" name="DocumentTitle" value="[% Document.Title %]" /></td>
          </tr>
	<tr>
           <td>Groups with &quot;Access&quot;<br />(Hold down CTRL and click for multiple)</td>
           <td><select name="DocumentSecurity" multiple="multiple" size="[% IF (Groups.AllGroups.size > 5) %]5[% ELSE %][% Groups.AllGroups.size %][% END %]">
	      [% FOREACH Groups.AllGroups %]
	      <option value="[%	GroupID %]"
	        [% IF Document.AccessGroups %] 
                [% FOREACH l = Document.AccessGroups %]
	          [% IF (l.GroupID == GroupID)  || (GroupID == Assignment.GroupID) %]selected="selected"[% END %]
                 [% END %]
                [% ELSIF ( GroupID == Assignment.GroupID ) %]selected="selected"[% END %]>[% GroupName %]</option>
              [% END %]
           </td>
        </tr>
        <tr>
           <td>Document State</td>
           <td><select name="DocumentState">
               [% FOREACH v = ['Rough Draft','Final Draft'] %]
	       <option value="[% v %]">[% v %]</option>[% END %]
		</select>
	   </td>
        </tr>
        <tr>
          <td>This document is for what assignment?</td>
          <td><select name="AssignmentID">
                <option value="">No Assignment</option>
                [%- FOREACH Assignments %]
                <option value="[% ID %]" [% IF (ID == Assignment.ID) || (ID == Document.AssignmentID) %] selected="selected"[% END %]>[% Title %]</option>
                [% END -%]


               </select>
          </td>
        </tr>
        <tr>
	  <td>Put this document in your &quot;Outbox&quot;?</td>
	  <td><input type="checkbox" name="Outbox" value="1" [% IF Document.OutboxStatus == 'Finished'%]checked="checked"[% END %] /></td>
        </tr>
	  <tr>
	    <td colspan="2" align="center">File: <input type="file" name="File" /></td>
	  </tr>
	  <tr>
	    <td colspan="2" align="center"><input type="submit" name="action" value="[% IF (Action == "Blank Form") %]Save File[% ELSE %]Save Edit[% END %]" /></td>
	  </tr>
      </table>
    </form>
    [% ELSE %]
        <form action="[% scriptdir %]uploadDocument.cgi">
        <input type="hidden" name="DocumentID" value="[% Document.ID %]" />
        <input type="hidden" name="action" value="outboxMod" />
	Document should be in your <input type="submit" name="OutboxStatus" value="Inbox" /> <input type="submit" name="OutboxStatus" value="Outbox" />
        </form>
        <table>
         <tr>
          <td>Document Title</td>
          <td>[% Document.Title %]</td>
         </tr>
         <tr>
          <td>Owner Name</td>
          <td>[% Document.OwnerName %]</td>
         </tr>
         <tr>
          <td>Groups with &quot;Access&quot;</td>
          <td>[% FOREACH Document.AccessGroups %][% GroupName %]<br /></td>
         </tr>
         <tr>
          <td>Document State</td>
          <td>[% Document.State %]</td>
         </tr>
         [% IF (Document.AssignmentTitle) %]
         <tr>
           <td>Document is for assignment</td>
           <td>[% Document.AssignmentTitle %]</td>
         </tr>
         <tr>
           <td>Assignment Due Date</td>
           <td>[% Document.DueDate %]</td>
         </tr>
         [% END %]
         <tr>
           <td>Document Save Datestamp</td>
           <td>[% Document.UploadDate %]</td>
         </tr>
        </table>
      [% END %]
    [% END %]
   [% END %]    



[% INCLUDE Footer %]
  </body>
</html>
