[% DEFAULT 
  currentURL = 'http://'
%]
[%# Copyright 2003, Buzzmaven Co.

# This file is part of Annotateit.

# Annotateit is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.

# Annotateit is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with Annotateit (see GNU-GPL.txt); if not, write to the Free Software
# Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA.
# The GNU General Public License may also be found on the Web at:
#   http://www.gnu.org/licenses/gpl.txt 

%]
<script>
if (document.layers) document.captureEvents(Event.KEYPRESS); //NS4+
document.onkeypress=pressed;

function pressed(e) {
  var Val="";
  if (document.all) Val = window.event.keyCode;
  else Val = e.which;
  var keyPressed = String.fromCharCode(Val);
    if (keyPressed == "`") {
     AnnotateItNewWindow = window.open('[% scriptdir %]getAnnotationInfo.cgi?url=[% currentURL %]','WholePageNotes','height=500,width=500,resizable=yes,scrollbars=yes,status=yes');
     AnnotateItNewWindow.focus();
   }


}
</script>
<table class="mainBar">
  <tr>
    <td><form action="[% scriptdir %]annotateit.cgi" method="GET" name="nphRedirect" >
        <input type="hidden" name="action" value="redirect" />
        <input type="text" name="url" value="[% currentURL %]" size="40" />
	<input type="submit" name="submit" value="Go!" /></form></td>
    [% IF LoggedIn %]
    <td><form action="[% scriptdir %]manageUserInfo.cgi" method="GET" target="_blank" name="manageUserInfo">
	<input type="button" name="submit" value="Main Menu" onClick="javascript:newWindow=window.open('[% scriptdir %]manageUserInfo.cgi','manageUserInfo','height=500,width=500,resizable=yes,scrollbars=yes,status=yes'); newWindow.focus();" /></form></td>
    </td>
    [% ELSE %]
    <td><form action="[% scriptdir %]login.cgi" method="GET" target="_blank" name="manageUserInfo">
	<input type="button" name="submit" value="Login" onClick="javascript:newWindow=window.open('[% scriptdir %]login.cgi','Login','height=500,width=500,resizable=yes,scrollbars=yes,status=yes'); newWindow.focus()" /></form></td>
    [% END %]
    [% IF currentURL != 'http://' %]
    [% IF HasAnnotations %]<td><a href="javascript:newWindow=window.open('[% scriptdir %][% WholePageNoteLink %]?url=[% currentURL %]','WholePageNotes','height=500,width=500,resizable=yes,scrollbars=yes,status=yes'); newWindow.focus()"><img border="0" src="[% imagesdir %]/page_annotation.png" alt="View Annotations for this Page" title="View Annotations for this Page" /></a></td>[% END %]
    <td>
      <form action="" method="GET" target="_blank" name="annotate" >
        <input type="hidden" name="url" value="[% currentURL %]" />
        <input type="button" name="submit" value="Annotate" onClick="javascript:newWindow=window.open('[% scriptdir %]getAnnotationInfo.cgi?url=[% currentURL %]','annotation','height=500,width=500,resizable=yes,scrollbars=yes,status=yes'); newWindow.focus()"/>
      </form></td>
     [% END %]
    <td><a href="http://developer.berlios.de/projects/annotateit">Report Bugs</a></td>
    </tr>
</table>
