[% Title = PageTitle %][% INCLUDE Header %]
[%# Copyright 2003, Buzzmaven Co.

# This file is part of Annotateit.

# Annotateit is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.

# Annotateit is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with Annotateit (see GNU-GPL.txt); if not, write to the Free Software
# Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA.
# The GNU General Public License may also be found on the Web at:
#   http://www.gnu.org/licenses/gpl.txt 

%]

  <body>
    <h1>[% PageTitle %]</h1>
    <form action="[% scriptdir %][% formAction %]" method="post">
      <input type="hidden" name="CommentID" value="[% CommentID %]" />
      <input type="hidden" name="action" value="[% action %]" />
      <input type="hidden" name="ParentID" value="[% ParentID %]" />
      <textarea name="CommentText" cols="60" rows="10" wrap="virtual">[% CommentText %]</textarea>
      <input type="submit" name="submit" value="[% EnglishAction %]" />
    </form>



    <hr>
[% INCLUDE Footer %]

  </body>
</html>
