[% Title = "Managing Groups" %][% INCLUDE Header %]
[%# Copyright 2003, Buzzmaven Co.

# This file is part of Annotateit.

# Annotateit is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# (at your option) any later version.

# Annotateit is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with Annotateit (see GNU-GPL.txt); if not, write to the Free Software
# Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA.
# The GNU General Public License may also be found on the Web at:
#   http://www.gnu.org/licenses/gpl.txt 

%]
  <body>
    <h1>Managing Groups</h1>
    <p>To <a href="[% scriptdir %][% ManageUserInfoLink %]">manage your info</a></p>
    
    [% FOREACH Groups.OwnedGroups %]
    [% IF loop.first %]<p>To allow others to join your groups, tell them the Group ID (shown below). Click the group name to view the group details (peer groups, members) Groups Owned:</p>
    <table>
	<tr>
	  <th>Active?</th>
	  <th>Group Name</th>
	  <th>Group ID</th>
	  <th>Group Type</th>
	  <th>Delete</th>
	</tr>
    [% END %]
    <tr>
      <td>[% Active %]</td>
      <td><a href="[% scriptdir %][% ViewGroupDetailsLink %][% GroupID %]">[% GroupName %]</a></td>
      <td>[% GroupID %]</td>
      <td>[% Type %]</td>
      <td align="center"><a href="[% scriptdir %][% DeleteLink %][% GroupID %]">X</a></td>
    </tr>
	[% IF loop.last %]
    </table>
    <hr />
    [% END %][% END %]
    

    [% FOREACH Groups.MemberedGroups %]
    [% IF loop.first  %]
    <p>Groups of which you are a member:</p>
    <table>
	<tr>
	  <th>Group Name</th>
	  <th>GroupID</th>
	</tr>
	[% END %]
	<tr>
	  <td><a href="[% scriptdir %][% ViewGroupDetailsLink %][% GroupID %]">[% GroupName %]</a></td>
	  <td>[% GroupID %]</td>
	</tr>
    [% IF loop.last %]
    </table>
    [% END %][% END %]
    <hr />
    <form action="[% scriptdir %]joinGroup.cgi" method="get">
      <input type="text" name="GroupID" /><br />
      <input type="submit" name="submit" value="Join Group" />
    </form>
    [% IF User.Privileges.Own.AddParentGroup %]
    <form action="[% scriptdir %]newGroup.cgi" method="get">
      <input type="text" name="GroupName" /><br />
      <input type="submit" name="submit" value="Make a New Group" />
    </form>
    [% END %]
    <hr />
[% INCLUDE Footer %]
  </body>
</html>
